<a href="https://colab.research.google.com/github/AhsenRiaz/Numpy-And_Pandas/blob/main/02_intro_to_panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
Pandas is a Python package providing fast, flexible data structures designed to make working with “relational” or “labeled” or you can say huge data sets.It is one of the most powerful data processing/manipulation tool.

# Pandas Data Frame
Pandas Datagrame is a 2 dimensional tabular data structure with labeled axis (rows and columns)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
sales_arr = [1402, 548, 1122]
sales_arr

[1402, 548, 1122]

# Pandas Series
using pandas series function we can assign labelled indexes to elements of array.

In [ ]:
sales_series = pd.Series(sales_arr);
print(sales_series, "\n")

names = ["Tom", "John", "Bob"];
sales_series = pd.Series(sales_arr, names);
print(sales_series)

0    1402
1     548
2    1122
dtype: int64

Tom     1402
John     548
Bob     1122
dtype: int64

Pandas Series using Dictionaries

In [ ]:
sales = {"Tom": 1402, "Ellie": 548, "Mike": 1122}
pd.Series(sales)

Tom      1402
Ellie     548
Mike     1122
dtype: int64

Pandas Series Operations

In [ ]:
april_sales = {"Ellie": 1402, "Tom": 548, "Mike": 1122 }

In [ ]:
may_sales = {"Ellie": 500, "Tom": 350, "Ted": 700}

In [ ]:
april_Sales = pd.Series(april_sales)
april_Sales

Ellie    1402
Tom       548
Mike     1122
dtype: int64

In [ ]:
may_Sales = pd.Series(may_sales)
may_Sales

Ellie    500
Tom      350
Ted      700
dtype: int64

In [ ]:
total_Sales = april_Sales.add(may_Sales, fill_value = 0); # fill_value will print the unfounded keys as it is
total_Sales

Ellie    1902.0
Mike     1122.0
Ted       700.0
Tom       898.0
dtype: float64