<a href="https://colab.research.google.com/github/AhsenRiaz/Numpy-And_Pandas/blob/main/04_conditional_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [5]:
cars_csv='https://raw.githubusercontent.com/AhsenRiaz/Numpy-And_Pandas/main/cars.csv'

df = pd.read_csv(cars_csv)
df

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F
6,Volkswagen Jetta,sedan,2000,3500,no,Tue,Turner,Aaron,557275923,M
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M
9,Volkswagen Jetta,sedan,2012,9855,no,Tue,Sam,Jessie,885354544,F
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F
11,Hyundai Accent,hatchback,2011,7434,no,Wed,Maddy,Monte,870066354,M
12,Mercedes-Benz A-Class,hatchback,2015,25453,yes,Tue,Mike,Alyssa,579521683,F
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F
19,Volkswagen Jetta,sedan,2004,2235,no,Tue,Turner,Git,995358322,M
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F
26,Porsche Cayenne,coupe,2015,52000,no,Thur,Turner,Emily,958258639,F
27,Volkswagen Jetta,sedan,2014,25356,no,Wed,Sam,Pam,995538822,F
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M
37,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M
38,Hyundai Accent,hatchback,2015,13434,yes,Thurs,Brittany,Don,277425852,M
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F

In [6]:
df.head()

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M
3,Chevrolet Equinox,SUV,2013,9600,no,Wed,Turner,Jasime,342234563,F
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M

In [7]:
df["year"]

0     2019
1     2021
2     2015
3     2013
4     2017
5     2021
6     2000
7     2020
8     2017
9     2012
10    2014
11    2011
12    2015
13    2010
14    2016
15    2021
16    2022
17    2015
18    2019
19    2004
20    2018
21    2020
22    2018
23    2021
24    2021
25    2021
26    2015
27    2014
28    2020
29    2017
30    2000
31    2018
32    2020
33    2021
34    2013
35    2021
36    2021
37    2015
38    2015
39    2017
40    2020
41    2002
42    2020
43    2020
44    2020
Name: year, dtype: int64

In [9]:
df['year'] > 2015

0      True
1      True
2     False
3     False
4      True
5      True
6     False
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17    False
18     True
19    False
20     True
21     True
22     True
23     True
24     True
25     True
26    False
27    False
28     True
29     True
30    False
31     True
32     True
33     True
34    False
35     True
36     True
37    False
38    False
39     True
40     True
41    False
42     True
43     True
44     True
Name: year, dtype: bool

In [10]:
df[df['year'] > 2015]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M
5,Porsche Cayenne,coupe,2021,82000,yes,Fri,Mike,Morgan,968258639,F
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F
16,Toyota 4Runner,SUV,2022,54000,no,Thur,Mike,Jan,462375343,F
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M
31,Chevrolet Camaro,coupe,2018,76550,yes,Wed,Turner,Sarah,552422222,F
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F

In [14]:
df[(df['year'] >= 2020) & (df['price'] > 100000)]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
15,BMW M8,coupe,2021,158000,yes,Wed,Maddy,Nicole,338559922,F
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M
44,Bentley Bentayga,SUV,2020,232000,no,Wed,Mike,Gabrielle,885353455,F

In [18]:
df[(df['year'] > 2015) & (df['sex'] == 'M')]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M
4,Hyundai Accent,hatchback,2017,23000,yes,Thur,Maddy,Sam,570566354,M
8,Jeep Wrangler,SUV,2017,33553,yes,Fri,Mike,Sam,877425852,M
14,Chevrolet Equinox,SUV,2016,23998,yes,Fri,Mike,Kyle,947577792,M
20,Honda Civic,sedan,2018,22333,no,Fri,Mike,Jon,334642443,M
21,BMW M8,coupe,2020,140553,no,Wed,Maddy,Sal,326234886,M
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M
23,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
24,Audi A6,sedan,2021,78444,no,Thur,Brittany,Qatava,223855366,M
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M
29,Hyundai Accent,hatchback,2017,17434,no,Thurs,Maddy,Bob,70066354,M
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M
35,Jeep Wrangler,SUV,2021,43553,yes,Fri,Mike,Don,277425852,M
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M
39,Cadillac Escalade,sedan,2017,85474,no,Tue,Mike,Harris,885437455,M
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M

In [19]:
df[(df['day'] == 'Sun') | (df['day'] == 'Sat')]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M

In [23]:
df[df['day'].isin(['Sat', "Sun", "Mon"])]

,car,type,year,price,finance,day,dealer,customer,social_security,sex
0,Mercedes-Benz A-Class,sedan,2019,39000,no,Sun,Mike,Stanley,555342396,M
1,Audi A6,sedan,2021,67800,yes,Mon,Sam,Brittany,887766234,F
2,Nissan Altima,sedan,2015,17500,no,Sun,Mike,Todd,998573477,M
7,Audi A6,sedan,2020,78444,no,Sat,Brittany,Shelby,223955366,F
10,Hyundai Accent,hatchback,2014,17434,no,Mon,Maddy,Taylor,870566354,F
13,Nissan Altima,sedan,2010,10983,no,Mon,Turner,Felix,994853335,M
17,Audi A6,sedan,2015,58444,yes,Sat,Brittany,Qatava,223855366,M
18,Jaguar XF,sedan,2019,57744,yes,Sun,Turner,Taylor,884352886,F
22,Ford Maverick,pickup,2018,27433,no,Mon,Sam,Murry,588845355,M
25,Genesis GV80,SUV,2021,80444,yes,Mon,Mike,Selena,994447745,F
28,Maserati Levante,SUV,2020,104325,yes,Mon,Mike,Cam,452685274,M
30,Honda Civic,sedan,2000,2333,no,Sat,Brittany,Allen,134642443,M
32,Maserati Levante,SUV,2020,134325,yes,Sun,Mike,Todd,952685274,M
33,Mercedes-Benz A-Class,sedan,2021,44032,yes,Mon,Turner,Jon,996435345,M
34,Ford Maverick,pickup,2013,36033,yes,Sun,Turner,Bailey,508845355,F
36,Porsche 911,coupe,2021,185543,yes,Mon,Sam,Cam,452685274,M
40,Genesis GV80,SUV,2020,78422,yes,Mon,Sam,Rachel,995943645,F
41,Jeep Wrangler,SUV,2002,3553,no,Sun,Brittany,Porsche,277425858,F
42,Genesis GV80,SUV,2020,77842,yes,Sat,Mike,Edward,885352535,M
43,Cadillac Escalade,sedan,2020,48422,yes,Mon,Sam,Rachel,995943645,F